<!DOCTYPE html>
<html>
<head>
  <title>Filter</title>

  <%= yield :head if content_for?(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= yield :foot if content_for?(:foot) %>

</body>
</html>
